<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534610952972-nj2fgch8kj8nnj8diujc17bqokp27h3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534610952972-nj2fgch8kj8nnj8diujc17bqokp27h3h</string>
	<key>API_KEY</key>
	<string>AIzaSyCeJIH61QQUCFPLUG66oORGaMjNCYisRz8</string>
	<key>GCM_SENDER_ID</key>
	<string>534610952972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suttTask2</string>
	<key>PROJECT_ID</key>
	<string>sutt-task-2-475e8</string>
	<key>STORAGE_BUCKET</key>
	<string>sutt-task-2-475e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534610952972:ios:c2a73255b009f6e12dbf29</string>
</dict>
</plist>